{% extends 'base.html' %}
{% block content %}

<div class="card shadow p-4">
<h3>Upload Resource</h3>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<input name="title" class="form-control mb-2" placeholder="Title">
<input name="subject" class="form-control mb-2" placeholder="Subject">
<input name="semester" class="form-control mb-2" placeholder="Semester">
<input name="rtype" class="form-control mb-2" placeholder="Type">
<input name="year" class="form-control mb-2" placeholder="Year">

<select name="privacy" class="form-control mb-2">
<option>Public</option>
<option>Private</option>
</select>

<input type="file" name="file" class="form-control mb-3">

<button class="btn btn-primary">Upload</button>
</form>

</div>

{% endblock %}
